.footer {
    padding: 6rem 0;
    background: var(--surface-1);

    & > nav {
        display: flex;
        flex-direction: column;
        gap: var(--size-2);
    }
    & > nav:first-child {
        grid-column: content-start / 3;
    }
    & > nav:nth-child(2) {
        grid-column: 3 / content-mid;
    }
    & > nav:last-child {
        grid-column: content-mid;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding: 4rem 0;
    }

}

@media (max-width: 768px) {
    .footer {
        & > nav {

            display: flex;
            flex-direction: column;
        }
        & > nav:first-child {
            grid-column: content;
        }
        & > nav:nth-child(2) {
            grid-column: content;
        }
        & > nav:last-child {
            grid-column: content;
        }
    }
}