.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--size-fluid-3);
    align-items: center;
    height: auto; min-height: 50px;
    background: none;
    padding-right: var(--size-relative-8);
}

.headerContainer > a {
    color: var(--text-1);
    background: none;
    backdrop-filter: blur(8px);
    padding: var(--size-2);
}
.headerContainer > a:hover, .headerContainer > a:visited:hover  { color: var(--brand); }
.headerContainer > a:visited { text-decoration: none; color:var(--text-1); }