.headerContainer {
    min-height: 75px;
    grid-column: content / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.headerContainer > a {
    text-decoration: underline;
    color: var(--text-1);
    background: none;
    padding: var(--size-2);
}
.headerContainer > a:hover, .headerContainer > a:visited:hover  { color: var(--brand); }
.headerContainer > a:visited {  color:var(--text-1); }


@media (max-width: 768px) {
    .headerContainer {
        grid-column: content;
        gap: 1rem;
    }
}