
.HeroContainer {
    position: relative;
    padding: 6rem 0;
    min-height: calc(100dvh - 6rem);

    & h1 {
        color: var(--brand);
        font-size: var(--size-fluid-6);
    }

    & p {
        font-size: var(--size-fluid-3);
    }

}

.heroInformation {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-8);
    &> div:last-child {
        display: flex;
        flex-direction: row;
        gap: var(--size-fluid-4);
    }
}


.blurredColour {
    grid-column: 4/6;
    justify-self: center;
    position: absolute;
    top: 40%;
    transform: translate(0,-50%);
    background: var(--brand);
    width: 22rem;
    height: 22rem;
    filter: blur(153px) opacity(50%);
    border-radius: 50%;
    &> div {
        position: absolute;
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        filter: blur(153px);
    }
    &>div:first-child {
        left: -50%; top: 50%;
        background: var(--secondary);
    }
    &>div:last-child {
        left: 50%; top: -25%;
        background: var(--accent);
    }

}


.introduction {
    padding: 6rem 0;
    overflow: hidden;

    background: #212123;
    & > div {
        flex-basis: 50%;
    }
    & h2 {
        font-size: var(--font-size-fluid-2);
        letter-spacing: -0.05em;
        margin-bottom: 3rem;
    }
    & h3 {
        letter-spacing: -0.025em;
    }
    & p {
        line-height: var(--font-lineheight-4);
        max-width: 600px;
    }
}

.boxes {
    opacity: 0;
    transform: rotate(-9deg);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;

    & > div {
        margin-bottom: -6rem;
        border-radius: 12px;
        background: linear-gradient(180deg, var(--brand) 0%, rgba(0, 0, 0, 0.00) 100%);
        height: 400px;
        width: 500px;
    }
    &> div:nth-child(3) {
        margin-left: 3rem;
        background: linear-gradient(180deg, var(--secondary) 0%, rgba(0, 0, 0, 0.00) 100%);
        height: 300px;
        width: 400px;
    }
    &> div:last-child {
        margin-left: 6rem;
        margin-bottom: 0;
        background: linear-gradient(180deg, var(--accent) 0%, rgba(0, 0, 0, 0.00) 100%);
        height: 200px;
        width: 300px;

    }
}

.animate .boxes {
    animation:  var(--animation-fade-in) forwards;
    animation-timing-function: var(--ease-1);
    animation-duration: 1s;

    &> h2 {
        animation: var(--animation-slide-in-up);
        animation-timing-function: var(--ease-1);
        animation-duration: 750ms;
    }

    &> div {
        animation: var(--animation-slide-in-up);
        animation-timing-function: var(--ease-1);
        animation-duration: 750ms;
    }
}

.about {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &> p, h3 {
        opacity: 0;
    }
}

.animate .about{
    animation: var(--animation-slide-in-up);
    animation-timing-function: var(--ease-1);
    animation-duration: 1.25s;
    & > p, h3 {
        animation:  var(--animation-fade-in) forwards;
        animation-timing-function: var(--ease-1);
        animation-duration: 2s;
    }
}

.projects {
    overflow: hidden;
    padding: 6rem 0;
    & > h2 {
      margin-bottom: var(--size-7) ;
    }
    &> div {
        opacity: 0;
        display: grid;
        grid-template-columns: subgrid;
        row-gap: var(--size-9);
        &> div {
            grid-column: span 2;
        }
    }
}

.animate .projects {
    &> div, h2 {
        animation:  var(--animation-fade-in) forwards;
        animation-timing-function: var(--ease-1);
        animation-duration: 1s;
        & > div {
            animation: var(--animation-slide-in-up);
            animation-timing-function: var(--ease-1);
            animation-duration: 1.25s;
        }
    }
}

.animate .skillGrid {
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
    animation-timing-function: var(--ease-1);
    animation-duration: 1.25s
}

.skills {
    overflow: hidden;
    padding: 6rem 0;
    & > h2 {
        position: relative;
    }
    & > h2:before {
        content: '';
        position: absolute;
        top: 100%;
        background: var(--brand);
        height: 10px;
        width: 100%;
    }
    & .skillGrid {
        opacity: 0;
        padding: 3rem 0;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, 1fr);
        row-gap: var(--size-7) ;
        column-gap: var(--size-7);
        & h3 {
            grid-column: span 2;
        }
    }
}

.contact {
    overflow: hidden;
    background: var(--surface-2);
    padding: 6rem 0;

    & > div, h2, img {
        opacity: 0;
    }

}

.animate .contact {
    & > div, h2, img {
        animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
        animation-timing-function: var(--ease-1);
        animation-duration: 1.25s
    }
}

.about, .projects, .skills, .contact {
    scroll-margin: -4rem;
}


.firstName {
    opacity: 0;
    display: inline-block;
    animation: var(--animation-slide-in-right), var(--animation-fade-in-bloom) forwards;
    animation-timing-function: var(--ease-elastic-in-out-3);
    animation-duration: 1s;
    color: var(--brand);
}

.firstName:nth-child(1) { animation-delay: 450ms }
.firstName:nth-child(2) { animation-delay: 400ms }
.firstName:nth-child(3) { animation-delay: 350ms }
.firstName:nth-child(4) { animation-delay: 300ms }
.firstName:nth-child(5) { animation-delay: 250ms }
.firstName:nth-child(6) { animation-delay: 200ms }
.firstName:nth-child(7) { animation-delay: 150ms }
.firstName:nth-child(8) { animation-delay: 100ms }
.firstName:nth-child(9) { animation-delay: 50ms }

.lastName {
    opacity: 0;
    display: inline-block;
    animation: var(--animation-slide-in-left), var(--animation-fade-in-bloom) forwards;
    animation-timing-function: var(--ease-elastic-in-out-3);
    animation-duration: 1s;
    color: var(--brand);
}

.lastName:nth-child(1) { animation-delay: 450ms }
.lastName:nth-child(2) { animation-delay: 400ms }
.lastName:nth-child(3) { animation-delay: 350ms }
.lastName:nth-child(4) { animation-delay: 300ms }
.lastName:nth-child(5) { animation-delay: 250ms }
.lastName:nth-child(6) { animation-delay: 200ms }



@media (max-width: 1024px) {
    .HeroContainer {
        padding: 4rem 0;
        min-height: calc(100dvh - 4rem);
        & h1 {
            font-size: var(--size-fluid-6);
        }
    }

    .introduction {
        padding: 4rem 0;
    }

    .boxes {
        display: none;

    }

    .about {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .projects {
        padding: 4rem 0;
    }

    .skills {
        padding: 4rem 0;
        & .skillGrid {
            & h3 {
                grid-column: span 1;
            }
        }
    }

    .contact {
        padding: 4rem 0;
    }

    .about, .projects, .skills, .contact {
        scroll-margin: -2rem;
    }
}

@media (max-width: 768px) {
    .HeroContainer {
        & h1 {
            font-size: var(--size-fluid-5);
        }

        & p {
            font-size: var(--size-fluid-3);
        }
    }


    .projects {
        padding: 6rem 0;

        &> div {
            display: grid;
            grid-template-columns: subgrid;
            gap: var(--size-12);
            &> div {
                grid-column: span 4;
            }
        }
    }

    .blurredColour {
        grid-column: 2/4;
        justify-self: center;
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        background: var(--brand);
        width: 22rem;
        height: 22rem;
        filter: blur(153px) opacity(50%);
        border-radius: 50%;
    }
}

@media (max-width: 480px) {
    .HeroContainer {
        min-height: calc(50dvh - 4rem);
        & h1 {
            font-size: var(--font-size-7);
        }

        & p {
            font-size: var(--font-size-3);
        }
    }
}