.skillContainer {
    padding: 0.3em;
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
}

h5 {
    margin: auto;
    width: auto;
}

.progressionBar {
    position: relative;
    margin: auto 1.5em;
    outline: var(--surface-3) solid 3px;
    border-radius: var(--radius-2);
    height: 0.5em; min-width: 250px;
    background: var(--surface-4);
}

.progressionBar > div {
    border-radius: var(--radius-2);
    height: 0.5em;
    background: var(--brand);
}
.skillContainer.animate > .progressionBar > div {
    animation: Fill-To 3500ms ease-out;
}

.progressionBar > label {
    opacity: 0;
    transform: translate(-50%,-50%);
    position: absolute;
}
.skillContainer.animate > .progressionBar > label {
    animation: var(--animation-fade-in) forwards 250ms;
}

.progressionBar > label:before {
    content: '';
    position: absolute;
    top: 75%;
    left: 50%;
    width: 2px;
    height: 25%;
    border-radius: var(--radius-1);
    background: var(--surface-3);
}

.progressionBar > label:nth-child(2) { top: -160%; left: 0%;}
.progressionBar > label:nth-child(3) { top: -160%; left: 50%; animation-delay: 650ms }
.progressionBar > label:nth-child(4) { top: -160%; left: 99%; animation-delay: 1300ms}


@keyframes Fill-To {
    0% {
        max-width: 10px;
    }
    100% {
        max-width: 100%;
    }
}