---
import '../styles/global.css'

/* the props */
import "open-props/style";

/* optional imports that use the props */
import "open-props/normalize";
import "open-props/buttons";

/* Fonts */
import "@fontsource/amaranth";
import "@fontsource/sarala";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bennjmann Redmans Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

